<!DOCTYPE html>
<html>
<head>
  <title>Likelion Hackerton Minigame : ANIMAL BINGO</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "layouts/header" %>
  <%= yield %>
  <script src="/boxfit.js"></script>
</body>
</html>
<style>
  body {
    overflow:hidden;
    background-color:#4c4c4c;
  }
  /* label color */
  .input-field label {
    color: #f39800;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #f39800;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #f39800;
    box-shadow: 0 1px 0 0 #f39800;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #fff;
  }
</style>
  